body {
    overflow-x: hidden;
}

.topnav {
    overflow: hidden;
    background-color: #F94F4F;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: white;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .cta-btn {
    padding: 10px;
    color: white;
    background-color: #F94F4F;
    text-decoration: none;
    
}

a, a:hover {
    color: white;
}

/* this is the grid for the banner */
    .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 3 / 6 / 6; }
    .div2 { grid-area: 2 / 2 / 4 / 4; }

   

    .div2 h1 {
        font-size: 80px;
        line-height: 88px;
    } 

    .div2 p {
        margin-top: 15px;
        font-size: 18px;
        line-height: 32px;
    }  

    @media(max-width: 576px){
        .parent {
            display: block;
        }

        .div2 {
            padding: 5px;
        }
        .div2 h1 {
            font-size: 64px;
            text-align: left;
            line-height: 70px;

        }
        .div2 p {
            font-size: 15px;
            text-align: left;
            line-height: 25px;
            margin: 15px 0;

        }
    }
/*  
    .parent2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .img-section {
           
               grid-row: 1 / span 5;
               grid-column: 1 / span 1;
            }
        .text-section { 
           
             grid-row: 1 / span 2;
             grid-column: 4 / span 2;
             }
             
             .div3 { grid-area: 4 / 2 / 6 / 6; }


        .text-section {
            background-color: #191921;
            color: white;
            text-align: left;
            padding: 10px;
            
        }

        .text-section span {
            color: #F94F4F;
        }

        .text-section h2 {
            margin-top: 230px;
            font-size: 56px;
        }

        .text-section p {
            font-size: 20px;  
         }

         @media(max-width: 576px){
            .parent2 {
                display: block;
                margin-top: 20px;
            }


            .text-section h2 {
                margin-top: 50px;
            }

            .img-section img{
                width: 100vw;
            }

            .parent3{
                display: block;
                margin-top: 0px;
            }

            .red-strategy{
                position: absolute;
                left: 0px !important;
                width: 100vw !important;
                height: 918px;
                top: 1709px !important;
            }

            .text {
                position: absolute;
                left: 0px !important;
                width: 483px !important;
                height: 918px;
                top: 250px !important;
                padding: 20px;
            }

            .text p {
                font-size: calc(14px + 2vw);
            }

           .white-strategy h3{
            position: absolute;
            width: 327px !important;
            height: 120px;
            left: 25px !important;
            top: 1745px !important;
            color: white;
            font-size: 32px !important;
            line-height: 40px;
           }

        }
    
        .parent3 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .red-strategy { grid-area: 1 / 4 / 6 / 6; }
            .white-strategy { grid-area: 2 / 3 / 4 / 5; }

            .red-strategy {
                background-color:  #F94F4F;
                color: white;
                padding: 60px;
                position: absolute;
                width: 895px;
                height: 1100px;
                left: 588px;
                top: 1509px;
            }

            .white-strategy h3 {
                position: absolute;
                width: 540px;
                height: 192px;
                left: 232px;
                top: 2162px;
                font-size: 56px;
                line-height: 64px;
            }
        
           
                .space {
                    height: 771px;
                }

                .text-right {
                    background-color: #191921;
                    color: white;
                    font-size: 50px;
                    text-align: center;
                }

                .text-right p{
                   
                    text-align: center;
                }

                .footer-text{
                    font-size: 55px;
                }

                .footer-btn {
                    padding: 10px;
                    color: white;
                    background-color: #F94F4F;
                    text-decoration: none;
                    
                }
*/

                .parent5 {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(5, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    }
                    
                    .divone { grid-area: 1 / 3 / 2 / 6; }
                    .divtwo { grid-area: 1 / 1 / 3 / 3; }
                    .divthree { grid-area: 2 / 3 / 4 / 6; }
                    .divfour { grid-area: 3 / 2 / 3 / 4; }

                    .divone {
                        background-color: #191921;
                        color: white;
                        text-align: left;
                        padding: 150px;
                    }

                    .divone span {
                        color: #F94F4F;
                    }

                    .divthree{
                        background-color:  #F94F4F;
                        color: white;
                        padding: 150px 50px;
                    }

                    .divfour {
                        padding: 70px 0;
                        line-height: 64px;
                    }

                    .divfour h3 {
                       
                        font-size: 56px;
                    }

                    